/* Based on template from csslayoutgenerator.com */

body {
    font: 12px/18px Georgia, "Times New Roman", Times, serif;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
    padding: 0.3em 0;
}

img {
    max-width: 100%;
}


/*
#wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
*/


/* Header
-----------------------------------------------------------------------------*/

#navigation-icon {
    font-size: 1.5em;
    padding: 1% 2%;
    text-align: right;
}

#navigation-mobile {
    text-align: center;
    font-size: 1.4em;
}

#navigation-mobile li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

#navigation-desktop {
    display: none;
}

header {
    height: auto;
    background-color: coral;
    padding: 2%;
}

nav a {
    color: black;
    text-decoration: none;
}


/* Middle
-----------------------------------------------------------------------------*/

main {}

#article1 {
    background-color: lightgoldenrodyellow;
    padding: 2%;
}

#article3 {
    background-color: lightgoldenrodyellow;
    padding: 2%;
}

article img {
    padding: 0.5em 0;
}

p {
    padding: 0.4em 0;
}

#article2 {
    background-color: aliceblue;
    padding: 2%;
}

#article4 {
    background-color: aliceblue;
    padding: 2%;
}

.author {
    font-style: italic;
}


/* Footer
-----------------------------------------------------------------------------*/

footer {
    height: auto;
    background-color: darkkhaki;
    padding: 2%;
}

@media only screen and (min-width: 480px) {

    /*header {  background-color:#FF6; }*/
    article img {
        max-width: 50%;
        float: left;
        padding: 0 2% 0 0;
    }

    .author {
        margin-bottom: 10px;
    }

    #article2 {
        clear: both;
    }

    footer {
        clear: both;
    }
}


/*
@media only screen and (min-width: 1000px) {

  #article1 {
    width: 46%;
    float: left;
  }
  #article2 {
    width: 46%;
    clear: none;
    float: left;
  }
}*/

@media only screen and (min-width: 768px) {
    #navigation-icon {
        display: none;
    }

    #navigation-mobile {
        display: none;
    }

    #navigation-desktop {
        display: block;
        text-align: center;
    }

    #navigation-desktop li {
        display: inline;
        font-size: 1.3em;
        padding: 0.5em 1em;
        border: 1px solid #ccc;
        margin: 0.2em;
    }

    #navigation-desktop ul {
        padding: 1.2em;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }

    article {
        width: 46%;
    }

    #navigation-desktop {
        text-align: right;
    }

    #navigation-desktop li {
        font-size: 1.3em;
        padding: 0.1em 0.5em;
        border: none;
        margin: 0;
    }

    #navigation-desktop ul {
        padding: 0.4em;
    }
}
